{% extends 'auth/base.html' %} 
{% block nav %} 
{% include 'auth/navbar.html' %}
{% endblock %} 
{% block content %}
<div class="container">
  <h2 class="mx-3 my-3 p-3">Profile</h2>
<div class="row m-3 p-3">
  <div class="col-lg-7">
    <div class="card border-0 shadow p-3">
      <div class="row">
        <div class="col-lg-6">
          <p>Name: {{current_user.name}}</p>
          <p>Email:{{current_user.email}}</p>
          {% if current_user.role=='User' %}
          <p>Student Id:{{current_user.student_id}}</p>
          {%endif%}
        </div>
        {% if current_user.profile_pic_path %}
        <div class="col-lg-6"><img src="{{url_for('static',filename=current_user.profile_pic_path)}}" alt="" class="img-fluid"></div>
        {% else %}
        <div class="col-lg-6"><img src="{{url_for('static',filename='photos/avatar.png')}}" alt="" class="img-fluid"></div>

        
        {% endif %}

      </div>
    </div>
  </div>
  <div class="col-lg-5 card border-0 shadow p-1">

    <form action="{{url_for('main.profile',user_name=current_user.name)}}" method="POST" enctype="multipart/form-data" class="m-lg-5 p-lg-5 m-2 p-2">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="file" name="photo" class="form-control" required>
      <input type="submit" class="my-3">

    </form>

  </div>
</div>
</div>
{% endblock %}