{% macro displayElections(election_list,post_count) %}

{% if election_list %}

{% for election in election_list%}
<div class="card m-5 shadow border-0">

  <div class="d-flex justify-content-around m-3 p-3">
    <span class="blue-title">Start Time: {{election.start_time}}</span> 
    <span class="red-title">End Time: {{election.end_time}}</span></div>

    <div class="d-flex justify-content-around align-items-center m-5 p-3 shadow">
      <span># {{election.id}}</span> 
      <span><h3>Title: {{election.title}}</h3></span>
      {% if election.status=='open' %} 
      <span class="badge bg-success text-white">{{election.status}} </span>
      {% else %}
      <span class="badge bg-secondary text-white">{{election.status}} </span>

      {% endif %}
      <span class="badge bg-secondary text-white">Posts: {{post_count[election.id] or 0}} </span>
      <span><a href="{{url_for('main.vote',id=election.id)}}" class="btn btn-secondary">Vote</a></span>
    </div>
</div>

{% endfor %}
{% else %}
<p>Oops, it's not election season yet! Hold your horse.</p>


{%endif%}
{% endmacro %}

{%macro displayPostCard(election,post_list,candidate_dict,vote_status_dict,election_winners_dict,election_posts_results_dict) %}

{% for post in post_list %}
{% if post.election.status=='closed' %}
<div class="col-lg-6">
  <div class="card mb-3">

    <h2 class="d-flex justify-content-around"><span>{{post.title}}</span>  <span>Winner:  <span class="text-success"> {{election_winners_dict[post.id] or "No Winner"}}</span></span> </h2>

    {% for candidate in candidate_dict[post.id] %}
    <div class="d-flex justify-content-around align-items-center my-2 p-3">

      {% if candidate.user.profile_pic_path %}
    <span><img src="{{url_for('static',filename=candidate.user.profile_pic_path)}}" alt="" class="" height="96"></span>
      {% else%}

    <span><img src="{{url_for('static',filename='photos/avatar.png')}}" alt="" height="96"></span>


      {% endif %}
      <span>{{candidate.user.name}}</span>

      <span class="badge bg-secondary text-white">{{election_posts_results_dict[post.id][candidate.id] or 0}}  Votes </span>

    </div>
      {% endfor %}
   

  </div>

</div>

{% elif post.election.status=='open' %}

{% if not vote_status_dict[post.id] %}

<div class="col-lg-6">
  <div class="card mb-3">

    <h2>{{post.title}}</h2>

      {% for candidate in candidate_dict[post.id] %}
    <div class="d-flex justify-content-around align-items-center my-2 p-3">
      
      {% if candidate.user.profile_pic_path %}
    <span><img src="{{url_for('static',filename=candidate.user.profile_pic_path)}}" alt="" class="" height="96"></span>
      {% else%}

    <span><img src="{{url_for('static',filename='photos/avatar.png')}}" alt="" height="96"></span>


      {% endif %}

      <span>{{candidate.user.name}}</span>

      <span> <a href="{{url_for('main.cast_vote',id=post.election.id,post_id=post.id,candidate_id=candidate.id)}}" class="btn btn-secondary">Vote </a> </span>

    </div>
      {% endfor %}
      
    

  </div>

</div>
{% else%}

<div class="col-lg-6">
  <div class="card">

    <h2 class="d-flex justify-content-center">{{post.title}}</h2>
    <div class="d-flex flex-column justify-content-center align-items-center">
    <p>You have voted for this post.</p>

    <p>Status: <span class="badge bg-secondary"> Pending Announcement</span></p>
  </div>
  </div>

</div>

{% endif %}

{% endif %}


{% endfor %}

{% endmacro %}

{% macro displayFlash()  %}

<div class="flash-header d-flex justify-content-center container">
  {% with messages=get_flashed_messages() %}
  {% if get_flashed_messages(category_filter=["error"]) %}
  {% if messages %}

<ul class="flashes list-unstyled">
  {% for message in messages %}
  <li class="bg-danger feed-message text-white text-center fs-4 mt-2 rounded-3">{{message}}</li>
  {%endfor%}
</ul>
{%endif%}

{% elif get_flashed_messages(category_filter=["success"]) %}
  {% if messages %}

<ul class="flashes list-unstyled text-center rounded-3">
  {% for message in messages %}
  <li class="bg-success feed-message text-white text-center fs-4 mt-2 rounded-3">{{message}}</li>
  {%endfor%}
</ul>
{%endif%}
{%endif%}

{% endwith %}
</div>

{% endmacro %}