.navbar,.sidebar{
  background-color: #190059;
  color:white;
}

.navbar-brand{

  color:white;
  font-weight: bold;
}

.navbar#admin{
  background-color: #AE3D2B;
  color:white;
}


#act{
  color: #AE3D2B; 
  font-weight: 400;
}
#election{
  color: #190059;
  font-weight: 400;
  }

  .main{
    min-height:60vh;
  }