{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'admin/base.html' %}
{% import 'admin/macros.html' as macro %}
{% block content %}

<form action="{{url_for('admin.admin')}}" method="POST">

  {{election_form.hidden_tag()}}
  {{wtf.form_errors(election_form,hiddens="only")}}
  {{wtf.form_field(election_form.title)}}
  <div class="d-flex p-3">
  <div class="m-3">{{wtf.form_field(election_form.start_time)}}</div>
  <div class="m-3">{{wtf.form_field(election_form.end_time)}}  </div>
    {{wtf.form_field(election_form.submit)}}
  </div>

  
</form>

<!-- {{wtf.quick_form(election_form)}} -->

{{macro.displayElections(elections)}}

{% endblock %}